In [1]:
%time
%load_ext autotime
%load_ext autoreload
%autoreload 2

import os
import sys
parent_dir = os.path.abspath(os.getcwd()+'/..')+'/' 
sys.path.append(parent_dir) 

import pandas as pd
import numpy as np
from copy import deepcopy

from utils.path import dir_HugeFiles
from utils.preprocessing import load
from utils.save import make_dir, save_pickle, load_pickle, auto_save_csv, print_time, auto_save_pickle

from models.fmin2 import fmin2, fmin2_model1
from models.nested_validation import *
from models.features import fixed_makedata, salvador_wrap, pretrained_wrap
from models.display import pickle2df

# models
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMClassifier

pd.set_option('display.max_colwidth', -1)

import warnings
warnings.filterwarnings("ignore")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 7.87 Âµs

In [2]:
dir_save = os.path.normpath('../data/dic_20190819.pickle')
dic = load(dir_save)

amt_GI = load_pickle('../data/amt_hGI_pos.pickle')
for i, v in dic.items():
    if i in amt_GI.keys():
        v['AMT'] = amt_GI[i]
amt_ls = list(amt_GI.keys())
ls = amt_ls

exist
time: 16.4 s

### reproduce the glove pretrained and nutritions model (i.e. our best model)

In [3]:
presaved_results = load_pickle(pd.read_csv('../csv/2019-08-24 09:17:21.691140.csv').pickle_path[0])

time: 756 ms

In [4]:
# recipe990
original_id = np.array([i for i, v in dic.items() if i in ls])
original_amt = np.array([v['AMT'] for i, v in dic.items() if i in ls])

time: 1.73 s

In [6]:
corp0 = fixed_makedata(dic, ls, tag='AMT')
knowns = corp0.knowns
state = 2022
model1 = pretrained_wrap(knowns, 'glove-wiki-gigaword-300')
method = ['wv','nu','scale']

time: 4min 56s

In [7]:
corp = copy.deepcopy(corp0)
fold = 0
predictions = []
print('state', state)
ss = StratifiedKFold(n_splits = 5, shuffle = True, random_state = state)
for train_index, test_index in ss.split(corp.ls, corp.y):
    model2 = presaved_results[fold]['model2']
    data = inputs_generater(corp.replace(train_index), model1, method)
    threshold = clf_running_search(data, model1, copy.deepcopy(model2), method)
    data = inputs_generater(corp.add_train_test(train_index, test_index), model1, method)
    y_pred, y_true, name = clf_running(data, model1, copy.deepcopy(model2) ,method, threshold).y_tests
    y_pred = [1 if ele>threshold else 0 for ele in y_pred]
    predictions.append([original_id[test_index], original_amt[test_index], y_pred])
    fold +=1

state 2022
time: 9min 32s

### retrieve the predicted class for each recipe

In [8]:
df_best_answer = pd.concat([pd.DataFrame(predictions[i]).T.rename({0:'id',1:'y_true',2:'y_pred'}, axis = 1) for i in range(5)]).reset_index(drop = True)
df_best_answer['name'] = df_best_answer['id'].apply(lambda x: dic[x]['name'])
df_best_answer['sugar_ratio'] = df_best_answer['id'].apply(lambda x: dic[x]['sugars/dry_weight'])

time: 285 ms

### show example for same carb, different class recipe

In [9]:
sum(amt_GI.values())

506

time: 50.6 ms

In [10]:
display(df_best_answer[df_best_answer['name']=='conrad s spaghetti and meat sauce'])
display(df_best_answer[df_best_answer['name']=='southwestern spaghetti squash'])

        id  y_true  y_pred                               name  sugar_ratio
396  54534  1       1       conrad s spaghetti and meat sauce  0.033329

        id  y_true  y_pred                           name  sugar_ratio
782  53509  0       0       southwestern spaghetti squash  0.068956

time: 60.9 ms

In [11]:
df_best_answer[df_best_answer['y_true'] != df_best_answer['y_pred']]

,id,y_true,y_pred,name,sugar_ratio
8,2530,1,0,easy almond chicken,0.043547
11,3448,1,0,marinara sauce ii,0.111309
17,4224,1,0,african peanut soup,0.119119
30,9577,0,1,meatball orzo soup,0.023608
34,10675,0,1,easy chip dip,0.000000
46,13872,0,1,mustard onion pork chops,0.000000
67,19579,0,1,nona s famous macaroni salad,0.040415
69,20506,0,1,chutney chicken,0.183543
85,26862,1,0,menudo rojo (red menudo),0.099978
87,27323,0,1,cocochi,0.346727
91,28372,0,1,hot and sour soup with tofu,0.106758
101,30309,1,0,red snapper baked alaska style,0.000000
112,33548,0,1,easy pickled eggs,0.000000
114,33892,1,0,chole saag,0.096663
124,36896,0,1,"penne with chili, chicken, and prawns",0.069191
131,39946,0,1,texas caviar,0.083410
137,40907,1,0,simple lemon chicken,0.234888
140,41619,1,0,skyline lentil chili,0.246043
147,42477,1,0,matcha green tea ice latte,0.439387
158,44259,0,1,soy peanut butter,0.089855
159,44266,1,0,"cucumber, mango, and black bean salad",0.170864
165,45225,0,1,crispy chicken with soy mayo sauce,0.075172
168,45784,0,1,dark n stormy cocktail,0.495937
175,47789,0,1,falafel ii,0.036402
179,49143,0,1,pork medallions with port and dried cranberry sauce,0.202041
180,49800,1,0,easy asparagus,0.131955
185,52615,1,0,lime glazed leg of lamb,0.205093
186,52636,0,1,wasabi encrusted tuna steaks,0.083646
188,52930,0,1,japanese scrambled eggs with pacific saury,0.061267
190,53074,0,1,herbed yogurt dip,0.279629
...,...,...,...,...,...
822,6136,1,0,balsamic roasted grapes,0.404426
828,7712,1,0,coconut flour pancake,0.014757
838,11024,1,0,chili and cheese stuffed chicken breasts,0.030462
845,12770,1,0,quick and easy vegetable curry,0.146193
846,12871,0,1,thai basil mussels,0.000000
860,16172,0,1,traditional english pickled onions,0.213927
861,16428,0,1,green tea yogurt,0.395837
863,16539,0,1,matzo brei,0.022356
869,17302,0,1,wild mushroom sauce,0.016900
873,18688,1,0,peppered elk skillet,0.157134
877,19532,0,1,brown rice pilaf with onions and corn,0.051776
890,24705,1,0,punjabi sukha urad dal,0.073843
894,25552,0,1,seared sea scallops,0.026611
903,27565,1,0,buckwheat tortilla pizza,0.121883
913,31037,1,0,japanese sweet omelet,0.146293
923,34478,1,0,mozzarella meat whirl,0.086605
931,37712,1,0,okra and tomatoes ii,0.170082
934,38772,0,1,chicken rice mexicana,0.030535
936,39205,1,0,rye bread boat dip,0.024186
937,39215,1,0,grilled balsamic peaches,0.119703
939,39344,0,1,south african sugar bean soup,0.047675
953,43537,1,0,green chile cheese dip,0.000000
954,43561,0,1,easy and quick swiss steak,0.058317
962,46916,1,0,chinese steamed buns with meat filling,0.146886
963,47805,0,1,vegan polenta,0.050147
973,51034,1,0,summerly squash,0.193424
976,51789,0,1,amanda s quick pho,0.015181
979,52216,1,0,sweet and spicy green beans,0.177305
980,52467,1,0,oven barbecued beef brisket ii,0.062500
987,53267,1,0,bacon wrapped pork chops,0.014303

time: 56.9 ms

In [12]:
# correctly predict
# while last time the model fail to answer this question
df_best_answer[df_best_answer['name']=='achiote paste']

      id  y_true  y_pred           name  sugar_ratio
397  348  1       1       achiote paste  0.052419

time: 36.4 ms

In [13]:
# correctly predict
# while last time the model fail to answer this question
df_best_answer[df_best_answer['name']=='sambar']

        id  y_true  y_pred    name  sugar_ratio
248  15585  1       1       sambar  0.038173

time: 30.5 ms

In [14]:
# fails to  predict
# while last time the model fail to answer this question, too
df_best_answer[df_best_answer['name']=='tomato chutney']

        id  y_true  y_pred            name  sugar_ratio
347  43918  1       0       tomato chutney  0.095084

time: 43.4 ms

### sugar with very low and very high sugar ratio are easiler to predict

In [15]:
bins = pd.IntervalIndex.from_tuples([(0, 0.05), (0.05, 0.1), (0.1, 0.2), (0.2, 0.3), (0.3, 0.4), (0.4, 0.5),
                                     (0.5, 0.6), (0.6, 0.7), (0.7, 0.8), (0.8, 0.9), (0.9, 1.0),
                                    ])
df_best_answer['sugar_range'] = pd.cut(df_best_answer['sugar_ratio'], bins)

time: 36.5 ms

In [16]:
for sugar in bins:
    selected = df_best_answer[df_best_answer['sugar_range'] == sugar]
    print(sugar,f1_score(selected['y_true'],selected['y_pred']), len(selected))

(0.0, 0.05] 0.8817204301075269 375
(0.05, 0.1] 0.8384615384615385 253
(0.1, 0.2] 0.7564102564102564 210
(0.2, 0.3] 0.8378378378378378 59
(0.3, 0.4] 0.9166666666666667 48
(0.4, 0.5] 0.9249999999999999 44
(0.5, 0.6] 1.0 1
(0.6, 0.7] 0.0 0
(0.7, 0.8] 0.0 0
(0.8, 0.9] 0.0 0
(0.9, 1.0] 0.0 0
time: 53 ms

### examples of labels

In [34]:
pos = len([name for name in df_best_answer[df_best_answer['y_true']==1]['name'].values if 'pasta' in name])
neg = len([name for name in df_best_answer[df_best_answer['y_true']==0]['name'].values if 'pasta' in name])
print(pos, neg)

60 4
time: 37.7 ms

In [36]:
pos = len([name for name in df_best_answer[df_best_answer['y_true']==1]['name'].values if 'bean' in name])
neg = len([name for name in df_best_answer[df_best_answer['y_true']==0]['name'].values if 'bean' in name])
print(pos, neg)

22 24
time: 23.6 ms